!!!
%html{lang: 'en'}
  %head
    %meta{'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/
    %title= content_for?(:title) ? yield(:title) : HVWorkout
    %meta{name: 'description', content: "#{content_for?(:description) ? yield(:description) : 'HVWorkout - Tracking Kieser Training exercises'}"}/
    = render 'layouts/favicon'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body.hvworkout
    %header
      = render 'layouts/navigation'
    %main.container.hvworkout__has-fixed-top-header
      = yield
