-# frozen_string_literal: true
!!!
%html
  %head
    %meta{'http-equiv': 'content-type', content: 'text/html; charset=UTF-8'}/
    %meta{'http-equiv': 'content-language', content: "#{locale}"}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, shrink-to-fit=no'}/
    %title= content_for?(:title) ? yield(:title) : t('.app.title')
    %meta{name: 'description', content: "#{content_for?(:description) ? yield(:description) : t('.app.description')}"}/
    = render 'layouts/favicon'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body.hvworkout{class: "#{controller.controller_name}"}
    %header
      = render 'layouts/navigation'
    %main.container-md.hvworkout__has-fixed-top-header{role: 'main'}
      = render 'layouts/messages'
      = yield
    %footer
      -if Rails.env.development?
        = console
